// ==============================
// Custom style
// ==============================
// You can override the variables in _variables.scss to customize the style

.column-left{
  float: left;
  width: 50%;
  text-align: left;
}

.column-right{
  float: right;
  width: 50%;
  text-align: left;
}

html {
  scroll-behavior: smooth;
}

.scroll {
  max-height: 300px;
  float: left;
  width: 910px;
  overflow-y: auto;
  width: 100%;
}

hc {
  background: #e7e8e2;
  padding: 3px;
  border-radius: 3px;
  color: #66747b;
}